<tr>
  <td>
    <%= image_tag item.product.image.tiny %>
  </td>
  <td>
    Product Name: <h4><%= item.product.name %></h4>
    <br>
    Product Description: <p><%= item.product.description %></p>
  </td>
  <td>
    Unit Price: $<%= item.product.price %>
  </td>
  <td>
    Quantity: <%= item.quantity %>
  </td>
  <td>
    Total Price: $<%= item.total_price %>
  </td>

</tr>

